.shw{
    box-shadow: 3px 3px 10px black;
}
.image-1{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px black;
}
.image-2{
    height:250px;
    width: 250px;
}
.center{
    justify-content: center;
}
